body {
  --left-width: 320px;
  --left-off-width: 40px;
  --right-width: 380px;
  --right-off-width: 40px;
  --work-width: calc(100vw - 760px);
  --work-right-width: calc(100vw - 420px);
  --work-left-width: calc(100vw - 480px);
  --work-both-width: calc(100vw - 140px);
  --header-small-height: 160px;
  --header-large-height: 320px;
  --scroll-offset: 0;
 
}

.javascript {
  font-size: 0.95rem;
  line-height: 1.2;
  height: 300px;
  transition: all 0.2s linear;
  overflow: scroll;
  border: solid 1px gray;
}

.javascript.big {
  height: 75vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
  .spin {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-left {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

pre { 
  line-height: 1.5;
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
